<div class="row">
  <div class="col" style="margin: auto; margin-top: 30px; margin-bottom:30px;">
    <div class="card">
      <h5 class="card-header text-center"><em>The Comments Sections</em></h5>
      <div class="card-body">
        <% @post.comments.each do |comment| %>
            <%= comment.text %>
            <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
